<!DOCTYPE html>
<html ng-app="kiezatlasFrontend">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="/de.kiezatlas.frontend/stylesheets/kiezatlas-frontend.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    
    <title>Kiezatlas</title>
  </head>
  <body>
    <div id="wrap">
      <leaflet></leaflet>
      <div id="sideBar" ng-controller="sidebarController">
	<ul>
	  <li ng-repeat="criterion in criteria" > <a href ng-click="selectCriteria(criterion)">{{criterion.value}}</a></li>
	</ul>
	  <div ng-show="showCategories">
	    {{ "Kiezatlas" + ":-)" }}
	    This is dummy data with the following criteria: 
	    <input type="text" ng-model="value">
	    <ul>
	      <li ng-repeat="category in criteriaCategories | filter:value | orderBy:'value'">
		<a href ng-click="showCategoryGeoObjects(category)">{{category.value}}</a>
	      </li>
	    </ul>
	  </div>

	  <div  ng-hide="showCategories">
	    <a href ng-click="selectCriteria(currentCriteria)">{{currentCriteria.value}}</a> >>
	    <a href ng-click="showCategoryGeoObjects(currentCategory)">{{currentCategory.value}}</a>
	    <ul>
	      <li ng-repeat="geoObject in geoObjects">
		<a href="#" ng-click="showGeoObjectDetails(geoObject.id); showDetails = ! showDetails">{{geoObject.value}}</a>
		<div  ng-show="showDetails">
		  Detail object name {{detailGeoObject.value}}
		  Detail object description {{detailGeoObject.composite["ka2.beschreibung"].value}}
		</div>
	      </li>
	    </ul>
	  </div>
      </div>
    </div>

    <script src="/de.kiezatlas.frontend/scripts/vendor/angular.min.js"></script>
    <script src="/de.kiezatlas.frontend/scripts/app.js"></script>

  </body>
</html>
