<!DOCTYPE html>
<html ng-app="kiezatlasFrontend">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="stylesheets/kiezatlas-frontend.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    
    <title>Kiezatlas</title>
  </head>
  <body>
    <div id="wrap">
      <leaflet></leaflet>
      <div id="sideBar" ng-controller="sidebarController">
	<ul>
	  <li ng-repeat="criterion in criteria" > <a href ng-click="selectCriteria(criterion)">{{criterion.value}}</a></li>
	</ul>
	<div ng-show="currentCriteria">
	{{ "Kiezatlas" + ":-)" }}
	  This is dummy data with the following criteria: 
	  <ul>
	    <li ng-repeat="category in criteriaCategories | orderBy:'value'"> {{category.value}}</li>
	  </ul>
	</div>


      </div>
    </div>

    <script src="scripts/vendor/angular.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>

  </body>
</html>
